@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



@Html.Partial("_addBook", Model);

@section Search{
    <input class="form-control me-2" type="search" name="value" id="LiveSearch"
           onkeyup="searchResult('@Url.Action("Search","Book", null, Context.Request.Scheme)')"
           placeholder="Search For Book" aria-label="Search" style="float:right">

}