@model IEnumerable<BookStore.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@Html.Partial("_Author", Model) 

@section Search{
    <input class="form-control me-2" type="search" name="value" id="LiveSearch"
           onkeyup="searchResult('@Url.Action("Search","Author", null, Context.Request.Scheme)')"
           placeholder="Search For Author" aria-label="Search" style="float:right">

}